NODE_ENV=production
PORT=5454
MONGODB_URI=mongodb+srv://admin:secure-pass@cluster0.mongodb.net/jeet_ahirwar_db
CORS_ORIGINS=https://jeet-ahirwar-marketplace.com
JWT_ACCESS_SECRET=your_32_character_long_super_access_secret_key
JWT_REFRESH_SECRET=simulation_refresh_secret_token_777
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=official-security@jeet-ahirwar.com
SMTP_PASS=app_password_generated_from_google_account
EMAIL_FROM=official-security@jeet-ahirwar.com


